<!DOCTYPE html>
<html>
  <head>
    <title>Rails試験</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'normalize.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "header">
      <h1><a class="blog" href="/">Tweets Trial</a></h1></br>
        <% if user_signed_in? %>  
          <div class="start">
            <div class="login_user">Login user:<%= current_user.name %>
            </div>
              <div class="posts">
                <a class="post" href="/users/<%= current_user.id %>">My page</a>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                <a class="post" href="/tweets/new">Make New Tweet</a>
              </div>
          </div>
        <% else %>
          <div class="start">  
            <div class="user">
            <%= link_to "Login", new_user_session_path %>
            <%= link_to "Sign_up", new_user_registration_path, class: 'post' %>
            </div>
          </div>
        <% end %>
    </div>
    
    <%= yield %>
    
  </body>
  

</html>
